.hero {
	height: 24rem;
	margin-bottom: 1.6rem;
	position: relative;
}
.hero img {
	filter: grayscale(1);
	/* object-position: 1rem; */
	object-fit: cover;
}
.copy {
	background-color: var(--c-primary-500);
	bottom: 2rem;
	color: var(--c-light-500);
	left: 2rem;
	padding: 1.2rem 1.6rem;
	position: absolute;
}
