:root {
	--c-primary-50: #e0f2f1;
	--c-primary-100: #b2dfdb;
	--c-primary-200: #80cbc4;
	--c-primary-300: #4db6ac;
	--c-primary-400: #26a69a;
	--c-primary-500: #009688;
	--c-primary-600: #00897b;
	--c-primary-700: #00796b;
	--c-primary-800: #00695c;
	--c-primary-900: #004d40;
	--c-danger-200: #f37890;
	--c-danger-300: #ef5272;
	--c-danger-500: #dc143c;
	--c-danger-600: #a90f2e;
	--c-light-50: #fff;
	--c-light-500: #f5f5f5;
	--c-dark-100: #999;
	--c-dark-200: #808080;
	--c-dark-300: #666;
	--c-dark-400: #4d4d4d;
	--c-dark-500: #333;
	--c-dark-50: #b3b3b3;
	--font-size: 62.5%;
	--text-size: 1.6rem;
	--line-height: 1.6;
	--line-height-sm: 1.2;
	--border-radius: 0.4rem;
	--glow: 0.6rem;
	--transition: 0.3s;
}

* {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: var(--font-size);
}

body {
	background: var(--c-light-500);
	color: var(--c-dark-500);
	font-family: var(--body-font);
	font-size: var(--text-size);
	line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	font-weight: 900;
	line-height: var(--line-height-sm);
}

input,
textarea,
button {
	font: inherit;
}

main {
	min-height: 80.5vh;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

/* typography */
.h1 {
	font-size: 67.34px;
}
.h2 {
	font-size: 50.517px;
}
.h3 {
	font-size: 37.897px;
}
.h4 {
	font-size: 28.43px;
}
.h5 {
	font-size: 21.328px;
}

.grid {
	/* border: 1px solid green; */
	display: flex;
	flex-flow: row wrap;
	margin-left: -1.6rem;
	margin-right: -1.6rem;
}

[class^='col'] {
	padding: 1.6rem;
	/* border: 1px solid orangered; */
}

@media only screen and (min-width: 768px) {
	.col-lg-2 {
		width: 12.5%;
		max-width: 12.5%;
	}
	.col-lg-3 {
		width: 18.75%;
		max-width: 18.75%;
	}
	.col-lg-4 {
		width: 25%;
		max-width: 25%;
	}
	.col-lg-5 {
		width: 31.25%;
		max-width: 31.25%;
	}
	.col-lg-7 {
		width: 43.75%;
		max-width: 43.75%;
	}
	.col-lg-8 {
		width: 50%;
		max-width: 50%;
	}
	.col-lg-9 {
		width: 56.25%;
		max-width: 56.25%;
	}
	.col-lg-10 {
		width: 62.5%;
		max-width: 62.5%;
	}
	.col-lg-11 {
		width: 68.75%;
		max-width: 68.75%;
	}
	.col-lg-12 {
		width: 75%;
		max-width: 75%;
	}
	.col-lg-16 {
		width: 100%;
		max-width: 100%;
	}
}

.button {
	display: inline-block;
	border-radius: var(--border-radius);
	border: none;
	cursor: pointer;
	outline: none;
	padding: 1.2rem 2rem;
	transition: background-color var(--transition) ease,
		box-shadow var(--transition) ease;
}
.button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
.button--sm {
	padding: 0.96rem 1.6rem;
	font-size: 0.8em;
}
.button--primary {
	background-color: var(--c-primary-500);
	color: var(--c-light-500);
}
.button--primary:active {
	background-color: var(--c-primary-300);
}
.button--primary:hover:not(:disabled),
.button--primary:hover:not(:active) {
	background-color: var(--c-primary-700);
}
.button--primary:focus {
	box-shadow: 0 0 0 var(--glow) var(--c-primary-200);
}
.button--danger {
	background-color: var(--c-danger-500);
	color: var(--c-light-500);
}
.button--danger:active {
	background-color: var(--c-danger-300);
}
.button--danger:hover:not(:disabled),
.button--danger:hover:not(:active) {
	background-color: var(--c-danger-600);
}
.button--danger:focus {
	box-shadow: 0 0 0 var(--glow) var(--c-danger-200);
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	width: 1em;
}
.icon--inline {
	transform: translateY(0.25em);
}
.icon-2x {
	height: 2em;
	width: 2em;
}

.list {
	list-style-position: inside;
	padding: 0.8rem;
}
.list--hyphen li::before {
	content: '-';
	margin-right: 1.2rem;
}

.form__group:not(:last-child) {
	margin-bottom: 1.6rem;
}
.form__group:last-of-type {
	margin-bottom: 3.2rem !important;
}
.form__control {
	border-radius: 0.4rem;
	border: 0.2rem solid var(--c-dark-50);
	display: block;
	padding: 0.8rem 1.6rem;
	outline: none;
	resize: vertical;
	width: 100%;
}
.form__control:hover {
	border: 0.2rem solid var(--c-primary-400);
}
.form__control:focus {
	border: 0.2rem solid var(--c-primary-400);
	box-shadow: 0 0 0 var(--glow) var(--c-primary-100);
}
.form__control--textarea {
	height: 20rem;
}

.link {
	color: var(--c-primary-500);
	text-decoration: underline;
}
.link:visited {
	color: var(--c-primary-700);
}

.container {
	/* border: 1px solid cyan; */
	max-width: 112rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	overflow: hidden;
}

.bg-light-50 {
	background-color: var(--c-light-50);
}

.c-primary {
	color: var(--c-primary-500);
}
.c-dark-300 {
	color: var(--c-dark-300);
}
.c-danger-500 {
	color: var(--c-danger-500);
}

.flex {
	display: flex;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.flex-column {
	flex-direction: column;
}
.flex-ai-c {
	align-items: center;
}
.flex-jc-sb {
	justify-content: space-between;
}
.flex-jc-c {
	justify-content: center;
}

.mt-16 {
	margin-top: 1.6rem;
}
.my-20 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.mb-8 {
	margin-bottom: 0.8rem;
}
.mb-16 {
	margin-bottom: 1.6rem;
}
.mb-32 {
	margin-bottom: 3.2rem;
}
.mr-8 {
	margin-right: 0.8rem;
}
.mr-16 {
	margin-right: 1.6rem;
}

.font-xb {
	font-weight: 900;
}
.lineheight-xs {
	line-height: 1;
}
.text-justify {
	text-align: justify;
}
.text-center {
	text-align: center;
}

.h-100 {
	height: 100%;
}
.w-100 {
	width: 100%;
}
